In [1]:
from acquire import get_titanic_data
from prepared_data import prep_titanic

df = prep_titanic(get_titanic_data())
df.dropna(inplace=True)

## Logistic Regression

In [2]:
df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
6,6,0,1,male,54.0,0,0,51.8625,S,First,E,Southampton,1
10,10,1,3,female,4.0,1,1,16.7000,S,Third,G,Southampton,0
11,11,1,1,female,58.0,0,0,26.5500,S,First,C,Southampton,1

In [3]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

train, test = train_test_split(df)

In [4]:
scaler = MinMaxScaler()
scaler.fit(train[['age', 'fare']])

train[['age', 'fare']] = scaler.transform(train[['age', 'fare']])
test[['age', 'fare']] = scaler.transform(test[['age', 'fare']])

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [5]:
train.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
701,701,1,1,male,0.430956,0,0,0.051310,S,First,E,Southampton,1
299,299,1,1,female,0.620637,0,1,0.483128,C,First,B,Cherbourg,0
263,263,0,1,male,0.494183,0,0,0.000000,S,First,B,Southampton,1
796,796,1,1,female,0.607992,0,0,0.050610,S,First,D,Southampton,1
257,257,1,1,female,0.367729,0,0,0.168837,S,First,B,Southampton,1

## Titanic- liblinear

In [6]:
from sklearn.linear_model import LogisticRegression

logit = LogisticRegression()

logit.fit(train[['pclass', 'age', 'fare', 'sibsp', 'parch']], train.survived)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [7]:
#prob_a gives actual numbers instead of binary values
logit.predict_proba(train[['pclass', 'age', 'fare', 'sibsp', 'parch']])

array([[0.3499434 , 0.6500566 ],
       [0.35861852, 0.64138148],
       [0.38538192, 0.61461808],
       [0.41500216, 0.58499784],
       [0.30115745, 0.69884255],
       [0.4183849 , 0.5816151 ],
       [0.35779015, 0.64220985],
       [0.29590641, 0.70409359],
       [0.32198558, 0.67801442],
       [0.32417048, 0.67582952],
       [0.42426548, 0.57573452],
       [0.34438129, 0.65561871],
       [0.34321783, 0.65678217],
       [0.4432869 , 0.5567131 ],
       [0.31522105, 0.68477895],
       [0.52404742, 0.47595258],
       [0.27482378, 0.72517622],
       [0.35313994, 0.64686006],
       [0.34904422, 0.65095578],
       [0.41978412, 0.58021588],
       [0.15906704, 0.84093296],
       [0.31401474, 0.68598526],
       [0.31371338, 0.68628662],
       [0.29119134, 0.70880866],
       [0.31520327, 0.68479673],
       [0.41023758, 0.58976242],
       [0.42352453, 0.57647547],
       [0.31997612, 0.68002388],
       [0.513059  , 0.486941  ],
       [0.37185693, 0.62814307],
       [0.33621097, 0.66378903],
       [0.47775483, 0.52224517],
       [0.33328203, 0.66671797],
       [0.46927995, 0.53072005],
       [0.397131  , 0.602869  ],
       [0.27831159, 0.72168841],
       [0.2924678 , 0.7075322 ],
       [0.31414923, 0.68585077],
       [0.46218169, 0.53781831],
       [0.45222731, 0.54777269],
       [0.45033948, 0.54966052],
       [0.1649399 , 0.8350601 ],
       [0.32128737, 0.67871263],
       [0.31870044, 0.68129956],
       [0.29305073, 0.70694927],
       [0.30919693, 0.69080307],
       [0.39574156, 0.60425844],
       [0.39259374, 0.60740626],
       [0.45656649, 0.54343351],
       [0.39925411, 0.60074589],
       [0.28105463, 0.71894537],
       [0.38181323, 0.61818677],
       [0.37468001, 0.62531999],
       [0.26176349, 0.73823651],
       [0.20253426, 0.79746574],
       [0.21836059, 0.78163941],
       [0.44273604, 0.55726396],
       [0.42707953, 0.57292047],
       [0.26171576, 0.73828424],
       [0.1956494 , 0.8043506 ],
       [0.33621097, 0.66378903],
       [0.2799874 , 0.7200126 ],
       [0.24620182, 0.75379818],
       [0.3396747 , 0.6603253 ],
       [0.28408978, 0.71591022],
       [0.19314996, 0.80685004],
       [0.29894406, 0.70105594],
       [0.37035019, 0.62964981],
       [0.27673737, 0.72326263],
       [0.31400914, 0.68599086],
       [0.31840462, 0.68159538],
       [0.21069477, 0.78930523],
       [0.36935207, 0.63064793],
       [0.23654823, 0.76345177],
       [0.32638928, 0.67361072],
       [0.13220229, 0.86779771],
       [0.33471091, 0.66528909],
       [0.31920194, 0.68079806],
       [0.3311765 , 0.6688235 ],
       [0.32253977, 0.67746023],
       [0.40429575, 0.59570425],
       [0.27009056, 0.72990944],
       [0.30345196, 0.69654804],
       [0.35438135, 0.64561865],
       [0.39047532, 0.60952468],
       [0.25423705, 0.74576295],
       [0.16047226, 0.83952774],
       [0.27995461, 0.72004539],
       [0.30962897, 0.69037103],
       [0.49351513, 0.50648487],
       [0.32107565, 0.67892435],
       [0.29155497, 0.70844503],
       [0.23828174, 0.76171826],
       [0.35213464, 0.64786536],
       [0.4438737 , 0.5561263 ],
       [0.16604925, 0.83395075],
       [0.197364  , 0.802636  ],
       [0.32837495, 0.67162505],
       [0.22372007, 0.77627993],
       [0.20528384, 0.79471616],
       [0.28408978, 0.71591022],
       [0.19232974, 0.80767026],
       [0.33237999, 0.66762001],
       [0.31360105, 0.68639895],
       [0.33686657, 0.66313343],
       [0.3056694 , 0.6943306 ],
       [0.34545005, 0.65454995],
       [0.29604761, 0.70395239],
       [0.49248487, 0.50751513],
       [0.35098947, 0.64901053],
       [0.22519616, 0.77480384],
       [0.33660166, 0.66339834],
       [0.29759632, 0.70240368],
       [0.27379841, 0.72620159],
       [0.327261  , 0.672739  ],
       [0.46988583, 0.53011417],
       [0.15133573, 0.84866427],
       [0.38073608, 0.61926392],
       [0.17437777, 0.82562223],
       [0.30996004, 0.69003996],
       [0.27331935, 0.72668065],
       [0.25972773, 0.74027227],
       [0.30051372, 0.69948628],
       [0.32426878, 0.67573122],
       [0.26184688, 0.73815312],
       [0.33824777, 0.66175223],
       [0.28059974, 0.71940026],
       [0.4259177 , 0.5740823 ],
       [0.44156821, 0.55843179],
       [0.51778569, 0.48221431],
       [0.14389232, 0.85610768],
       [0.37404007, 0.62595993],
       [0.56407174, 0.43592826],
       [0.40147236, 0.59852764],
       [0.24122083, 0.75877917],
       [0.33813954, 0.66186046],
       [0.32470021, 0.67529979],
       [0.24736393, 0.75263607]])

In [8]:
train['prediction']= logit.predict(train[['pclass', 'age', 'fare', 'sibsp', 'parch']])

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
#number of times we were correct in our predction / total observations = accuracy of prediction
(train.survived == train.prediction).sum() / train.shape[0]

0.6956521739130435

In [10]:
logit.score(train[['pclass', 'age', 'fare', 'sibsp', 'parch']], train.survived)

0.6956521739130435

In [11]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(train.survived, train.prediction)
cm

array([[ 3, 41],
       [ 1, 93]])

In [12]:
import pandas as pd

df = pd.DataFrame(confusion_matrix(train.survived, train.prediction),
            columns = ['Pred -', 'Pred +'], index = ['Actual -', 'Actual +'])

df

          Pred -  Pred +
Actual -       3      41
Actual +       1      93

In [13]:
from sklearn.metrics import classification_report

print(classification_report(train.survived, train.prediction))

              precision    recall  f1-score   support

           0       0.75      0.07      0.12        44
           1       0.69      0.99      0.82        94

   micro avg       0.70      0.70      0.70       138
   macro avg       0.72      0.53      0.47       138
weighted avg       0.71      0.70      0.60       138

In [14]:
train.survived.value_counts()

1    94
0    44
Name: survived, dtype: int64

In [15]:
train.prediction.value_counts()

1    134
0      4
Name: prediction, dtype: int64

Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [16]:
print('Accuracy:', (train.survived == train.prediction).sum() / train.shape[0])

Accuracy: 0.6956521739130435

In [17]:
TN = cm[0,0]
FP = cm[0,1]
FN = cm[1,0]
TP = cm[1,1]

In [18]:
print('False Positive Rate:', (FP/(FP+TN)))

False Positive Rate: 0.9318181818181818

In [19]:
print('False Negative Rate:', (FN/(FN+TP)))

False Negative Rate: 0.010638297872340425

In [20]:
print('True Negative Rate:', (TN/(TN+FP)))

True Negative Rate: 0.06818181818181818

In [21]:
precision = TP/(TP+FP)
print('Precision:', (TP/(TP+FP)))

Precision: 0.6940298507462687

In [22]:
recall = TP/(TP+FN)
print('Recall/True positive rate:', (TP/(TP+FN)))

Recall/True positive rate: 0.9893617021276596

Look in the scikit-learn documentation to research the solver parameter. What is your best option(s) for the particular problem you are trying to solve and the data to be used?
Run through steps 2-4 using another solver (from question 5)
Which performs better on your in-sample data?

## Titanic- saga

In [23]:
logit = LogisticRegression(solver='saga')

logit_fit = logit.fit(train[['pclass', 'age', 'fare', 'sibsp', 'parch']], train.survived)

In [24]:
y_pred_proba = logit.predict_proba(train[['pclass', 'age', 'fare', 'sibsp', 'parch']])

In [25]:
train['prediction']= logit.predict(train[['pclass', 'age', 'fare', 'sibsp', 'parch']])

In [26]:
logit.score(train[['pclass', 'age', 'fare', 'sibsp', 'parch']], train.survived)

0.7101449275362319

In [27]:
confusion_matrix(train.survived, train.prediction)

array([[ 5, 39],
       [ 1, 93]])

In [28]:
df = pd.DataFrame(confusion_matrix(train.survived, train.prediction),
            columns = ['Pred -', 'Pred +'], index = ['Actual -', 'Actual +'])

df

          Pred -  Pred +
Actual -       5      39
Actual +       1      93

In [29]:
print(classification_report(train.survived, train.prediction))

              precision    recall  f1-score   support

           0       0.83      0.11      0.20        44
           1       0.70      0.99      0.82        94

   micro avg       0.71      0.71      0.71       138
   macro avg       0.77      0.55      0.51       138
weighted avg       0.75      0.71      0.62       138

In [30]:
print('Accuracy:', (train.survived == train.prediction).sum() / train.shape[0])

Accuracy: 0.7101449275362319

The 'saga' solver gave slightly better accuracy than the 'liblinear' solver on the in-sample data. I will use the saga solver for the out-of-sample data.

In [31]:
print('Accuracy of Logistic Regression classifier on test set: {:.2f}'
     .format(logit.score(test[['pclass', 'age', 'fare', 'sibsp', 'parch']], test.survived)))

Accuracy of Logistic Regression classifier on test set: 0.70

# Decision Tree
Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

Evaluate your in-sample results using the model score, confusion matrix, and classification report.

Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

Run through steps 2-4 using entropy as your measure of impurity.

Which performs better on your in-sample data?

Save the best model in tree_fit

In [32]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Titanic- gini

In [33]:
clf = DecisionTreeClassifier(criterion='gini', max_depth=3)

In [34]:
clf.fit(train[['pclass', 'age', 'fare', 'sibsp', 'parch']], train.survived)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [35]:
y_pred = clf.predict(train[['pclass', 'age', 'fare', 'sibsp', 'parch']])
y_pred[0:5]

array([1, 1, 0, 0, 1])

In [36]:
y_pred_proba = clf.predict_proba(train[['pclass', 'age', 'fare', 'sibsp', 'parch']])
y_pred_proba

array([[0.15294118, 0.84705882],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.73076923, 0.26923077],
       [0.15294118, 0.84705882],
       [0.73076923, 0.26923077],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.73076923, 0.26923077],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [1.        , 0.        ],
       [0.73076923, 0.26923077],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.15294118, 0.84705882],
       [0.2       , 0.8       ],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.2       , 0.8       ],
       [0.15294118, 0.84705882],
       [0.73076923, 0.26923077],
       [0.15294118, 0.84705882],
       [0.2       , 0.8       ],
       [0.73076923, 0.26923077],
       [0.2       , 0.8       ],
       [0.15294118, 0.84705882],
       [0.73076923, 0.26923077],
       [0.2       , 0.8       ],
       [0.73076923, 0.26923077],
       [0.73076923, 0.26923077],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.73076923, 0.26923077],
       [0.73076923, 0.26923077],
       [0.73076923, 0.26923077],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.2       , 0.8       ],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.73076923, 0.26923077],
       [0.73076923, 0.26923077],
       [0.73076923, 0.26923077],
       [0.73076923, 0.26923077],
       [0.15294118, 0.84705882],
       [0.2       , 0.8       ],
       [0.73076923, 0.26923077],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.        , 1.        ],
       [0.73076923, 0.26923077],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [1.        , 0.        ],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.2       , 0.8       ],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.2       , 0.8       ],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [1.        , 0.        ],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.73076923, 0.26923077],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.5       , 0.5       ],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.2       , 0.8       ],
       [0.15294118, 0.84705882],
       [0.2       , 0.8       ],
       [0.15294118, 0.84705882],
       [0.2       , 0.8       ],
       [0.5       , 0.5       ],
       [0.73076923, 0.26923077],
       [1.        , 0.        ],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.73076923, 0.26923077],
       [0.15294118, 0.84705882],
       [1.        , 0.        ],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.2       , 0.8       ],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882],
       [0.73076923, 0.26923077],
       [0.73076923, 0.26923077],
       [0.73076923, 0.26923077],
       [0.15294118, 0.84705882],
       [0.2       , 0.8       ],
       [0.73076923, 0.26923077],
       [0.73076923, 0.26923077],
       [0.15294118, 0.84705882],
       [0.2       , 0.8       ],
       [0.15294118, 0.84705882],
       [0.15294118, 0.84705882]])

In [37]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(train[['pclass', 'age', 'fare', 'sibsp', 'parch']], train.survived)))

Accuracy of Decision Tree classifier on training set: 0.83

In [38]:
df = pd.DataFrame(confusion_matrix(train.survived, train.prediction),
            columns = ['Pred -', 'Pred +'], index = ['Actual -', 'Actual +'])

df

          Pred -  Pred +
Actual -       5      39
Actual +       1      93

In [39]:
confusion_matrix(train.survived, train.prediction)

array([[ 5, 39],
       [ 1, 93]])

In [40]:
sorted(train.survived.unique())

[0, 1]

In [41]:
labels = sorted(train.survived.unique())

pd.DataFrame(confusion_matrix(train.survived, y_pred), index=labels, columns=labels)

    0   1
0  28  16
1   8  86

In [42]:
print(classification_report(train.survived, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.64      0.70        44
           1       0.84      0.91      0.88        94

   micro avg       0.83      0.83      0.83       138
   macro avg       0.81      0.78      0.79       138
weighted avg       0.82      0.83      0.82       138

In [43]:
print('Accuracy of Decision Tree classifier on test set: {:.2f}' 
     .format(clf.score(test[['pclass', 'age', 'fare', 'sibsp', 'parch']], test.survived)))

Accuracy of Decision Tree classifier on test set: 0.70

In [44]:
import graphviz

from graphviz import Graph

dot_data = tree.export_graphviz(clf, out_file=None) 
graph = graphviz.Source(dot_data) 

graph.render('titanic', view=True)

'titanic.pdf'

## Titanic- entropy

In [45]:
clf = DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [46]:
clf.fit(train[['pclass', 'age', 'fare', 'sibsp', 'parch']], train.survived)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [47]:
y_pred = clf.predict(train[['pclass', 'age', 'fare', 'sibsp', 'parch']])
y_pred[0:5]

array([1, 0, 0, 0, 1])

In [48]:
y_pred_proba = clf.predict_proba(train[['pclass', 'age', 'fare', 'sibsp', 'parch']])
y_pred_proba

array([[0.18309859, 0.81690141],
       [0.59090909, 0.40909091],
       [1.        , 0.        ],
       [0.59090909, 0.40909091],
       [0.18309859, 0.81690141],
       [0.59090909, 0.40909091],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.59090909, 0.40909091],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [1.        , 0.        ],
       [0.59090909, 0.40909091],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.18309859, 0.81690141],
       [0.2       , 0.8       ],
       [0.0625    , 0.9375    ],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.2       , 0.8       ],
       [0.18309859, 0.81690141],
       [0.59090909, 0.40909091],
       [0.18309859, 0.81690141],
       [0.2       , 0.8       ],
       [0.59090909, 0.40909091],
       [0.2       , 0.8       ],
       [0.18309859, 0.81690141],
       [0.59090909, 0.40909091],
       [0.2       , 0.8       ],
       [0.59090909, 0.40909091],
       [1.        , 0.        ],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.59090909, 0.40909091],
       [0.59090909, 0.40909091],
       [0.59090909, 0.40909091],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.2       , 0.8       ],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.59090909, 0.40909091],
       [1.        , 0.        ],
       [0.18309859, 0.81690141],
       [0.2       , 0.8       ],
       [1.        , 0.        ],
       [0.18309859, 0.81690141],
       [0.0625    , 0.9375    ],
       [0.18309859, 0.81690141],
       [0.59090909, 0.40909091],
       [0.59090909, 0.40909091],
       [0.18309859, 0.81690141],
       [0.0625    , 0.9375    ],
       [0.18309859, 0.81690141],
       [0.0625    , 0.9375    ],
       [0.18309859, 0.81690141],
       [0.0625    , 0.9375    ],
       [0.18309859, 0.81690141],
       [0.0625    , 0.9375    ],
       [1.        , 0.        ],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.2       , 0.8       ],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.0625    , 0.9375    ],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.2       , 0.8       ],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.0625    , 0.9375    ],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [1.        , 0.        ],
       [0.0625    , 0.9375    ],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.59090909, 0.40909091],
       [0.0625    , 0.9375    ],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.0625    , 0.9375    ],
       [0.2       , 0.8       ],
       [0.18309859, 0.81690141],
       [0.2       , 0.8       ],
       [0.0625    , 0.9375    ],
       [0.2       , 0.8       ],
       [0.18309859, 0.81690141],
       [0.59090909, 0.40909091],
       [1.        , 0.        ],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.0625    , 0.9375    ],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.59090909, 0.40909091],
       [0.0625    , 0.9375    ],
       [1.        , 0.        ],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.2       , 0.8       ],
       [0.0625    , 0.9375    ],
       [0.18309859, 0.81690141],
       [0.18309859, 0.81690141],
       [0.59090909, 0.40909091],
       [0.59090909, 0.40909091],
       [0.59090909, 0.40909091],
       [0.18309859, 0.81690141],
       [0.2       , 0.8       ],
       [0.59090909, 0.40909091],
       [1.        , 0.        ],
       [0.18309859, 0.81690141],
       [0.2       , 0.8       ],
       [0.18309859, 0.81690141],
       [0.0625    , 0.9375    ]])

In [49]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(train[['pclass', 'age', 'fare', 'sibsp', 'parch']], train.survived)))

Accuracy of Decision Tree classifier on training set: 0.81

In [50]:
labels = sorted(train.survived.unique())

pd.DataFrame(confusion_matrix(train.survived, y_pred), index=labels, columns=labels)

    0   1
0  27  17
1   9  85

In [51]:
print(classification_report(train.survived, y_pred))

              precision    recall  f1-score   support

           0       0.75      0.61      0.67        44
           1       0.83      0.90      0.87        94

   micro avg       0.81      0.81      0.81       138
   macro avg       0.79      0.76      0.77       138
weighted avg       0.81      0.81      0.81       138

In [52]:
print('Accuracy of Decision Tree classifier on test set: {:.2f}'
     .format(clf.score(test[['pclass', 'age', 'fare', 'sibsp', 'parch']], test.survived)))

Accuracy of Decision Tree classifier on test set: 0.65

## Iris- entropy

In [54]:
from acquire import get_iris_data
from prepared_data import prep_iris

df = prep_iris(get_iris_data())
df.head()

,species,sepal_length,sepal_width,petal_length,petal_width,species_encode
0,setosa,5.1,3.5,1.4,0.2,0
1,setosa,4.9,3.0,1.4,0.2,0
2,setosa,4.7,3.2,1.3,0.2,0
3,setosa,4.6,3.1,1.5,0.2,0
4,setosa,5.0,3.6,1.4,0.2,0

In [55]:
X = df.drop(['species'],axis=1)
y = df[['species']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

X_train.head()

     sepal_length  sepal_width  petal_length  petal_width  species_encode
114           5.8          2.8           5.1          2.4               2
136           6.3          3.4           5.6          2.4               2
53            5.5          2.3           4.0          1.3               1
19            5.1          3.8           1.5          0.3               0
38            4.4          3.0           1.3          0.2               0

In [56]:
clf = DecisionTreeClassifier(criterion='entropy')

In [57]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [58]:
y_pred = clf.predict(X_train)
y_pred[0:5]

array(['virginica', 'virginica', 'versicolor', 'setosa', 'setosa'],
      dtype=object)

In [68]:
y_pred_proba = clf.predict_proba(X_train)
y_pred_proba[0:5]

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [60]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))

Accuracy of Decision Tree classifier on training set: 1.00

In [61]:
confusion_matrix(y_train, y_pred)

array([[32,  0,  0],
       [ 0, 40,  0],
       [ 0,  0, 33]])

In [62]:
sorted(y_train.species.unique())

['setosa', 'versicolor', 'virginica']

In [63]:
y_train.species.value_counts()

versicolor    40
virginica     33
setosa        32
Name: species, dtype: int64

In [64]:
labels = sorted(y_train.species.unique())

pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

            setosa  versicolor  virginica
setosa          32           0          0
versicolor       0          40          0
virginica        0           0         33

In [65]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        32
  versicolor       1.00      1.00      1.00        40
   virginica       1.00      1.00      1.00        33

   micro avg       1.00      1.00      1.00       105
   macro avg       1.00      1.00      1.00       105
weighted avg       1.00      1.00      1.00       105

In [66]:
print('Accuracy of Decision Tree classifier on test set: {:.2f}'
     .format(clf.score(X_test, y_test)))

Accuracy of Decision Tree classifier on test set: 1.00

In [67]:
dot_data = tree.export_graphviz(clf, out_file=None) 
graph = graphviz.Source(dot_data) 

graph.render('iris_decision_tree2', view=True)

'iris_decision_tree2.pdf'

# KNN

Fit the K-Nearest Neighbors classifier to your training sample and transform (i.e. make predictions on the training sample)

Evaluate your results using the model score, confusion matrix, and classification report.

Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

Run through steps 2-4 setting k to 10

Run through setps 2-4 setting k to 20

What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?

Save the best model in knn_fit

## Titanic

In [69]:
from sklearn.neighbors import KNeighborsClassifier

In [71]:
df = prep_titanic(get_titanic_data())
df.dropna(inplace=True)

X = df[['pclass','age','fare','sibsp','parch']]
y = df[['survived']]

## SPLIT

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

X_train.head()

     pclass   age      fare  sibsp  parch
689       1  15.0  211.3375      0      1
170       1  61.0   33.5000      0      0
75        3  25.0    7.6500      0      0
712       1  48.0   52.0000      1      0
137       1  37.0   53.1000      1      0

In [72]:
## MAKE

knn = KNeighborsClassifier(n_neighbors=5, weights='uniform')

In [73]:
## FIT

knn.fit(X_train, y_train)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [74]:
## PREDICT

y_pred = knn.predict(X_train)

In [75]:
y_pred_proba = knn.predict_proba(X_train)

In [79]:
## EVALUATE

print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

Accuracy of KNN classifier on training set: 0.75

In [77]:
print(confusion_matrix(y_train, y_pred))

[[14 28]
 [ 4 82]]

In [78]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.33      0.47        42
           1       0.75      0.95      0.84        86

   micro avg       0.75      0.75      0.75       128
   macro avg       0.76      0.64      0.65       128
weighted avg       0.76      0.75      0.72       128

## Titanic- k=10

In [81]:
knn = KNeighborsClassifier(n_neighbors=10, weights='uniform')

In [82]:
knn.fit(X_train, y_train)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=10, p=2,
           weights='uniform')

In [83]:
y_pred = knn.predict(X_train)

In [84]:
y_pred_proba = knn.predict_proba(X_train)

In [85]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

Accuracy of KNN classifier on training set: 0.73

In [86]:
print(confusion_matrix(y_train, y_pred))

[[14 28]
 [ 7 79]]

In [87]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.67      0.33      0.44        42
           1       0.74      0.92      0.82        86

   micro avg       0.73      0.73      0.73       128
   macro avg       0.70      0.63      0.63       128
weighted avg       0.71      0.73      0.70       128

## Titanic- k=20

In [88]:
knn = KNeighborsClassifier(n_neighbors=20, weights='uniform')

In [89]:
knn.fit(X_train, y_train)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=20, p=2,
           weights='uniform')

In [90]:
y_pred = knn.predict(X_train)

In [91]:
y_pred_proba = knn.predict_proba(X_train)

In [92]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

Accuracy of KNN classifier on training set: 0.71

In [93]:
print(confusion_matrix(y_train, y_pred))

[[12 30]
 [ 7 79]]

In [94]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.63      0.29      0.39        42
           1       0.72      0.92      0.81        86

   micro avg       0.71      0.71      0.71       128
   macro avg       0.68      0.60      0.60       128
weighted avg       0.69      0.71      0.67       128

## Iris

In [95]:
df = prep_iris(get_iris_data())
df.head()

,species,sepal_length,sepal_width,petal_length,petal_width,species_encode
0,setosa,5.1,3.5,1.4,0.2,0
1,setosa,4.9,3.0,1.4,0.2,0
2,setosa,4.7,3.2,1.3,0.2,0
3,setosa,4.6,3.1,1.5,0.2,0
4,setosa,5.0,3.6,1.4,0.2,0

In [96]:
X = df.drop(['species'],axis=1)
y = df[['species']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

X_train.head()

     sepal_length  sepal_width  petal_length  petal_width  species_encode
114           5.8          2.8           5.1          2.4               2
136           6.3          3.4           5.6          2.4               2
53            5.5          2.3           4.0          1.3               1
19            5.1          3.8           1.5          0.3               0
38            4.4          3.0           1.3          0.2               0

In [97]:
## MAKE

knn = KNeighborsClassifier(n_neighbors=5, weights='uniform')

In [98]:
## FIT

knn.fit(X_train, y_train)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [99]:
## PREDICT

y_pred = knn.predict(X_train)

In [100]:
y_pred_proba = knn.predict_proba(X_train)

In [101]:
## EVALUATE

print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

Accuracy of KNN classifier on training set: 1.00

In [102]:
print(confusion_matrix(y_train, y_pred))

[[32  0  0]
 [ 0 40  0]
 [ 0  0 33]]

In [103]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        32
  versicolor       1.00      1.00      1.00        40
   virginica       1.00      1.00      1.00        33

   micro avg       1.00      1.00      1.00       105
   macro avg       1.00      1.00      1.00       105
weighted avg       1.00      1.00      1.00       105

## Iris- k=10

In [104]:
knn = KNeighborsClassifier(n_neighbors=10, weights='uniform')

In [105]:
knn.fit(X_train, y_train)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=10, p=2,
           weights='uniform')

In [106]:
y_pred = knn.predict(X_train)

In [107]:
y_pred_proba = knn.predict_proba(X_train)

In [108]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

Accuracy of KNN classifier on training set: 0.99

In [109]:
print(confusion_matrix(y_train, y_pred))

[[32  0  0]
 [ 0 40  0]
 [ 0  1 32]]

In [110]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        32
  versicolor       0.98      1.00      0.99        40
   virginica       1.00      0.97      0.98        33

   micro avg       0.99      0.99      0.99       105
   macro avg       0.99      0.99      0.99       105
weighted avg       0.99      0.99      0.99       105

## Iris- k=20

In [111]:
knn = KNeighborsClassifier(n_neighbors=20, weights='uniform')

In [112]:
knn.fit(X_train, y_train)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=20, p=2,
           weights='uniform')

In [113]:
y_pred = knn.predict(X_train)

In [114]:
y_pred_proba = knn.predict_proba(X_train)

In [115]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

Accuracy of KNN classifier on training set: 0.99

In [116]:
print(confusion_matrix(y_train, y_pred))

[[32  0  0]
 [ 0 40  0]
 [ 0  1 32]]

In [117]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        32
  versicolor       0.98      1.00      0.99        40
   virginica       1.00      0.97      0.98        33

   micro avg       0.99      0.99      0.99       105
   macro avg       0.99      0.99      0.99       105
weighted avg       0.99      0.99      0.99       105

# Random Forest

Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 20.

Evaluate your results using the model score, confusion matrix, and classification report.

Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

Run through steps increasing your min_samples_leaf to 5 and decreasing your max_depth to 3.

What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?

Save the best model in forest_fit

In [119]:
from sklearn.ensemble import RandomForestClassifier

## Titanic

In [120]:
df = prep_titanic(get_titanic_data())
df.dropna(inplace=True)

X = df[['pclass','age','fare','sibsp','parch']]
y = df[['survived']]

## SPLIT

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

X_train.head()

     pclass   age      fare  sibsp  parch
689       1  15.0  211.3375      0      1
170       1  61.0   33.5000      0      0
75        3  25.0    7.6500      0      0
712       1  48.0   52.0000      1      0
137       1  37.0   53.1000      1      0

In [121]:
## MAKE

rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=1,
                            n_estimators=100,
                            max_depth=20, 
                            random_state=123)

In [122]:
## FIT

rf.fit(X_train, y_train)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=20, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=123, verbose=0, warm_start=False)

In [123]:
## FEATURE IMPORTANCE

print(rf.feature_importances_)

[0.02467665 0.419669   0.45371205 0.04860826 0.05333403]

In [124]:
## PREDICT

y_pred = rf.predict(X_train)
y_pred_proba = rf.predict_proba(X_train)

In [125]:
## EVALUATE

print('Accuracy of random forest classifier on training set: {:.2f}'
     .format(rf.score(X_train, y_train)))

Accuracy of random forest classifier on training set: 1.00

In [126]:
print(confusion_matrix(y_train, y_pred))

[[42  0]
 [ 0 86]]

In [127]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        42
           1       1.00      1.00      1.00        86

   micro avg       1.00      1.00      1.00       128
   macro avg       1.00      1.00      1.00       128
weighted avg       1.00      1.00      1.00       128

## Titanic- 2

In [128]:
rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=5,
                            n_estimators=100,
                            max_depth=3, 
                            random_state=123)

In [129]:
rf.fit(X_train, y_train)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=3, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=123, verbose=0, warm_start=False)

In [130]:
print(rf.feature_importances_)

[0.05574399 0.42294589 0.43341995 0.04521919 0.04267098]

In [131]:
y_pred = rf.predict(X_train)
y_pred_proba = rf.predict_proba(X_train)

In [132]:
print('Accuracy of random forest classifier on training set: {:.2f}'
     .format(rf.score(X_train, y_train)))

Accuracy of random forest classifier on training set: 0.76

In [133]:
print(confusion_matrix(y_train, y_pred))

[[13 29]
 [ 2 84]]

In [134]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.87      0.31      0.46        42
           1       0.74      0.98      0.84        86

   micro avg       0.76      0.76      0.76       128
   macro avg       0.81      0.64      0.65       128
weighted avg       0.78      0.76      0.72       128

## Iris

In [135]:
df = prep_iris(get_iris_data())
df.head()

,species,sepal_length,sepal_width,petal_length,petal_width,species_encode
0,setosa,5.1,3.5,1.4,0.2,0
1,setosa,4.9,3.0,1.4,0.2,0
2,setosa,4.7,3.2,1.3,0.2,0
3,setosa,4.6,3.1,1.5,0.2,0
4,setosa,5.0,3.6,1.4,0.2,0

In [136]:
X = df.drop(['species'],axis=1)
y = df[['species']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

X_train.head()

     sepal_length  sepal_width  petal_length  petal_width  species_encode
114           5.8          2.8           5.1          2.4               2
136           6.3          3.4           5.6          2.4               2
53            5.5          2.3           4.0          1.3               1
19            5.1          3.8           1.5          0.3               0
38            4.4          3.0           1.3          0.2               0

In [137]:
rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=1,
                            n_estimators=100,
                            max_depth=20, 
                            random_state=123)

In [138]:
rf.fit(X_train, y_train)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=20, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=123, verbose=0, warm_start=False)

In [139]:
print(rf.feature_importances_)

[0.05444538 0.00442402 0.29106065 0.24786912 0.40220082]

In [140]:
y_pred = rf.predict(X_train)
y_pred_proba = rf.predict_proba(X_train)

In [141]:
print('Accuracy of random forest classifier on training set: {:.2f}'
     .format(rf.score(X_train, y_train)))

Accuracy of random forest classifier on training set: 1.00

In [142]:
print(confusion_matrix(y_train, y_pred))

[[32  0  0]
 [ 0 40  0]
 [ 0  0 33]]

In [143]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        32
  versicolor       1.00      1.00      1.00        40
   virginica       1.00      1.00      1.00        33

   micro avg       1.00      1.00      1.00       105
   macro avg       1.00      1.00      1.00       105
weighted avg       1.00      1.00      1.00       105

## Iris- 2

In [144]:
rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=5,
                            n_estimators=100,
                            max_depth=3, 
                            random_state=123)

In [145]:
rf.fit(X_train, y_train)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=3, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=123, verbose=0, warm_start=False)

In [146]:
print(rf.feature_importances_)

[0.05592066 0.00371874 0.30585837 0.25594557 0.37855666]

In [147]:
y_pred = rf.predict(X_train)
y_pred_proba = rf.predict_proba(X_train)

In [148]:
print('Accuracy of random forest classifier on training set: {:.2f}'
     .format(rf.score(X_train, y_train)))

Accuracy of random forest classifier on training set: 1.00

In [149]:
print(confusion_matrix(y_train, y_pred))

[[32  0  0]
 [ 0 40  0]
 [ 0  0 33]]

In [150]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        32
  versicolor       1.00      1.00      1.00        40
   virginica       1.00      1.00      1.00        33

   micro avg       1.00      1.00      1.00       105
   macro avg       1.00      1.00      1.00       105
weighted avg       1.00      1.00      1.00       105