In [16]:
import pandas as pd
import numpy as np
import scipy.stats as stats

import acquire_mall
import prepare_mall

In [2]:
df = acquire_mall.get_mall_data()

In [3]:
df.head()

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
3            4  Female   23             16              77
4            5  Female   31             17              40

In [4]:
df = prepare_mall.is_outlier(df)

In [5]:
df = prepare_mall.encode_mall(df)

gender_encoded
spending_score_encoded

In [6]:
df.head()

,customer_id,gender,age,annual_income,spending_score,annual_income_outliers,gender_encoded,spending_score_encoded
0,1,Male,19,15,39,0.0,1,30
1,2,Male,21,15,81,0.0,1,67
2,3,Female,20,16,6,0.0,0,4
3,4,Female,23,16,77,0.0,0,64
4,5,Female,31,17,40,0.0,0,31

In [8]:
ttest_ind(df.annual_income, df.gender_encoded)

Ttest_indResult(statistic=32.36556831801648, pvalue=1.594337804101691e-113)

In [9]:
df.annual_income.max()

137

In [17]:
stats.ttest_ind(df[df.annual_income <= 60].spending_score.dropna(),
               df[df.annual_income > 60].spending_score.dropna())

Ttest_indResult(statistic=-0.09616460938824767, pvalue=0.9234870998779774)

In [14]:
df['spending_bin'] = pd.qcut(df.spending_score, 4, labels=False)

In [15]:
df.head()

,customer_id,gender,age,annual_income,spending_score,annual_income_outliers,gender_encoded,spending_score_encoded,spending_bin
0,1,Male,19,15,39,0.0,1,30,1
1,2,Male,21,15,81,0.0,1,67,3
2,3,Female,20,16,6,0.0,0,4,0
3,4,Female,23,16,77,0.0,0,64,3
4,5,Female,31,17,40,0.0,0,31,1

In [20]:
tbl = pd.crosstab(df['gender'], df['spending_bin'])
tbl

spending_bin   0   1   2   3
gender
Female        26  33  27  26
Male          24  20  25  19

In [21]:
stat, p, dof, expected = stats.chi2_contingency(tbl)

In [22]:
stat

1.5772029333350093

In [23]:
p

0.6645698768314909

In [24]:
dof

3

In [25]:
expected

array([[28.  , 29.68, 29.12, 25.2 ],
       [22.  , 23.32, 22.88, 19.8 ]])